* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

:root {
  --pink-10: #F67ACB;
  --pink-20: #CF62A9;
  --pink-30: #9D457F;
  --gray-900: #0A0B0D;
  --gray-800: #393B42;
  --gray-700: #5C5F69;
  --gray-600: #787C87;
  --gray-500: #979BA6;
  --gray-400: #ABAFBA;
  --gray-300: #C0C3CC;
  --gray-200: #DFE1E8;
  --gray-100: #F5F6FA;
}