.header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.24);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.header .menu ul {
  display: flex;
  gap: 4rem;
}

.header .menu ul li a {
  color: var(--color-gray-100);
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  transition: opacity .3s ease;
}

.header .menu ul li a:hover {
  opacity: 0.7;
}