@import url(reset.css);
@import url(grid.css);
@import url(typograph.css);
@import url(variables.css);
@import url(components.css);
@import url(header.css);

.s-hero {
  width: 100%;
  margin-top: 11.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 22rem;
  background-color: var(--color-pink-10);
  bottom: 0rem;
  left: 0rem;
  z-index: -1;
}

.s-hero .s-hero_title {
  width: 100%;
  max-width: 71.9rem;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 6.4rem;
}

.s-hero .s-hero_title h1 {
  color: var(--color-gray-100);
  font-family: "Sora", sans-serif;
  letter-spacing: -0.168rem;
  margin-bottom: 2.4rem;
  position: relative;
}

.s-hero .s-hero_title h1::before {
  content: "";
  position: absolute;
  background: url(../img/detalhe.svg) no-repeat center center;
  width: 100%;
  max-width: 59.9rem;
  height: 2.2rem;
  left: 3.9rem;
  top: 11.8rem;
  z-index: -1;
}

.s-hero .s-hero_title p {
  max-width: 55.6rem;
  margin: 0 auto;
  color: var(--color-gray-300);
  font-size: 1.8rem;
  letter-spacing: -0.054rem;
  margin-bottom: 3.2rem;
}

.s-hero .s-hero_title .arrow-button {
  position: absolute;
  bottom: 1.7rem;
  left: 5.5rem;
}

.s-hero .s-hero_image {
  padding: 0 1.5rem;
}