* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  color: var(--color-gray-100);
}

body {
  background-color: var(--color-gray-900);
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
