:root {
  --color-pink-10: #f67acb;
  --color-pink-20: #cf62a9;
  --color-pink-30: #9d457f;
  --color-gray-900: #0a0b0d;
  --color-gray-800: #393b42;
  --color-gray-700: #5c5f69;
  --color-gray-600: #787c87;
  --color-gray-500: #979ba6;
  --color-gray-400: #abafba;
  --color-gray-300: #c0c3cc;
  --color-gray-200: #dfe1e8;
  --color-gray-100: #f5f6fa;
}